.cart-container {
  width: 100%;
  padding: 1rem;
}
.cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.left-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

label {
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart img {
  height: 30px;
  cursor: pointer;
}
.cart-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  right: -5px;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 0.8rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-count.hidden {
  display: none;
}
.cart:hover img {
  filter: brightness(0.8);
}
.cart:active img {
  filter: brightness(0.6);
}
