.hero {
  background: var(--gradient);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-align: center;
  z-index: 0;
}

.hero-content {
  width: 100%;
  padding: 0 2rem;
  max-width: 1200px;
}

.hero h1 {
  font-size: clamp(2rem, calc(7vw + 1rem), 5rem);
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.5rem;
  max-width: 600px;
}
