.item-count {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

button {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-dark);
  color: var(--white);
  font-weight: 400;
  gap: 0.5rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
}

.controls span {
  font-size: 1;
  font-weight: 400;
  min-width: 2rem;
  text-align: center;
}

.controls button {
  width: 3rem;
  height: 3rem;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: 700;
  background: var(--primary-color);
  border-radius: 0.5rem;
}

button img {
  height: 2rem;
  filter: invert(1);
}

button:hover {
  background: var(--primary-color-dark);
}
