a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--black);
  text-decoration: underline;
}

.item {
  position: relative;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  background-color: var(--white);
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.item-category {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: var(--white);
  color: var(--black);
  box-shadow: var(--box-shadow);
  padding: 5px 10px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.item-image {
  max-width: 100%;
}

.item-name {
  font-size: 1rem;
  padding: 0.8rem 1rem 0;
  line-height: 1;
  color: var(--primary-color-dark);
  width: 100%;
  display: block;
}

.item-price {
  color: var(--primary-color-dark);
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 auto;
}

.item-description {
  font-size: 0.9em;
  color: var(--font-color);
  margin-block: 0.5rem;
  padding: 0 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item button {
  margin: 1rem auto;
  padding: 10px 15px;
  background: var(--gradient-dark);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.item button:hover {
  background: var(--primary-color-dark);
}
