.nav {
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
}

.nav-header {
  flex: 0.95;
  display: flex;
  align-items: center;
}
.nav-header img {
  height: 60px;
}
.nav-list {
  display: flex;
  gap: 2rem;
}
.nav-list li {
  list-style-type: none;
}
.nav-list li a {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}
#nav-check {
  display: none;
}
@media (max-width: 800px) {
  .nav {
    padding: 1rem;
  }
  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.05;
  }
  .nav-btn label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 50px;
    height: 50px;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .nav-btn label span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--font-color);
  }
  .nav .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    background-color: var(--background-color);
    height: 0;
    transition: all 0.3s ease-in;
    top: 92px;
    left: 0;
    text-align: center;
    overflow: hidden;
  }
  .nav-list li {
    width: 100%;
    margin-top: 1.5rem;
  }
  #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}
