.punto-venta {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.punto-venta h3 {
  margin-top: 0;
  color: var(--primary-color);
}
.punto-venta p {
  margin: 5px 0;
  color: var(--dark-font-color);
}
.punto-venta a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}
.punto-venta a:hover {
  text-decoration: underline;
}
