:root {
  --primary-color: #4caf50;
  --secondary-color: #ff5722;
  --font-color: #333;
  --background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: 1.6;
}
