:root {
  --primary-color: #c3a343;
  --primary-color-dark: #a68b2e;
  --primary-color-light: #e6d07a;
  --secondary-color: #3a3111;
  --secondary-color-dark: #2b241a;
  --secondary-color-light: #60543b;
  --font-color: #333;
  --background-color: #f9f9f8;
  --white: #fafafa;
  --black: #111;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: 1.6;
}
